## Library

In [2]:
import pandas as pd

## Import Data

In [26]:
data = pd.read_csv('monster_com-job_sample.csv')

In [27]:
data.head()

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c

In [28]:
data.shape

(22000, 14)

In [29]:
data.isnull().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64

In [30]:
data['date_added'].unique()

array([nan, '5/10/2016', '5/13/2016', '5/9/2016', '6/10/2016', '1/2/2017',
       '6/17/2016', '6/24/2016', '6/23/2016', '12/20/2016', '12/12/2016',
       '7/15/2016', '7/8/2016', '10/31/2016', '10/28/2016', '4/28/2016',
       '4/27/2016', '4/29/2016', '9/12/2016', '1/16/2017', '9/22/2016',
       '3/25/2016', '6/20/2016', '11/17/2016', '7/11/2016', '12/7/2016',
       '12/14/2016', '12/29/2016', '5/5/2016', '5/6/2016', '05/09/2016',
       '8/11/2016', '3/17/2016', '4/4/2016', '4/7/2016', '4/6/2016',
       '9/21/2016', '5/18/2016', '3/15/2016', '5/19/2016', '6/8/2016',
       '6/7/2016', '10/18/2016', '12/2/2016', '11/7/2016', '3/29/2016',
       '4/8/2016', '5/26/2016', '9/15/2016', '8/17/2016', '11/21/2016',
       '12/15/2016', '10/27/2016', '10/25/2016', '6/27/2016', '7/5/2016',
       '7/4/2016', '7/7/2016', '8/25/2016', '9/5/2016', '8/23/2016',
       '9/2/2016', '9/1/2016', '8/31/2016', '9/26/2016', '8/5/2016',
       '8/2/2016', '3/28/2016', '3/22/2016', '2/29/2016', '9/9/2016',
       '3/11/2016', '3/21/2016', '3/7/2016', '6/3/2016', '6/30/2016',
       '9/27/2016', '3/30/2016', '3/24/2016'], dtype=object)

In [31]:
data['salary'].value_counts()

salary
40,000.00 - 100,000.00 $ /year                                          50
Commensurate with Experience                                            38
50,000.00 - 60,000.00 $ /year                                           32
75,000.00 - 85,000.00 $ /year                                           27
40,000.00 - 50,000.00 $ /year                                           26
                                                                        ..
0.00 - 85,000.00 $ /yearbonuses, relocation money, etc                   1
80,000.00 - 95,000.00 $ /yearBenefits, Competitive Bonus, Relocation     1
$85.00+ /year                                                            1
34.00+ /hour                                                             1
40,000.00 - 46,000.00 $ /year+ annual bonus (up to 15% of salary)        1
Name: count, Length: 1737, dtype: int64

In [32]:
data['salary'].unique()

array([nan, '9.00 - 13.00 $ /hour', '80,000.00 - 95,000.00 $ /year', ...,
       '$80,000.00+ /year', '120,000.00 - 160,000.00 $ /yearbonus',
       '40,000.00 - 46,000.00 $ /year+ annual bonus (up to 15% of salary)'],
      dtype=object)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

In [34]:
data['country'].unique()

array(['United States of America'], dtype=object)

In [35]:
data['has_expired'].unique()

array(['No'], dtype=object)

In [36]:
data['job_title'].value_counts()

job_title
Monster                                                 318
Shift Supervisor Job in Camphill                        256
RN                                                       70
Shift Supervisor - Part-Time Job in Camphill             56
Manager                                                  50
                                                       ...
Sales Job in Knoxville                                    1
Merchandiser Job in Madison                               1
Retail Project Merchandiser Part Time Job in Madison      1
Senior Windows Systems Administrator* Job in Madison      1
Contract Administrator Job in Cincinnati                  1
Name: count, Length: 18759, dtype: int64

#### Drop columns that has only one value in all examples like 'country'

In [37]:
data.drop(['country', 'country_code', 'has_expired', 'job_board'],axis=1,  inplace=True)

In [38]:
data.head()

,date_added,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,NaN,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,NaN,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,NaN,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,NaN,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,NaN,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c

#### drop columns that we would not use such as the links and id.

In [43]:
data.drop(['page_url', 'uniq_id'], axis=1, inplace=True)

In [44]:
data.head()

,date_added,job_description,job_title,job_type,location,organization,salary,sector
0,NaN,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,NaN,IT/Software Development
1,NaN,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,NaN,NaN
2,NaN,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,NaN,NaN
3,NaN,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,NaN,Experienced (Non-Manager)
4,NaN,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,NaN,Project/Program Management

In [40]:
data['job_title'].value_counts()

job_title
Monster                                                 318
Shift Supervisor Job in Camphill                        256
RN                                                       70
Shift Supervisor - Part-Time Job in Camphill             56
Manager                                                  50
                                                       ...
Sales Job in Knoxville                                    1
Merchandiser Job in Madison                               1
Retail Project Merchandiser Part Time Job in Madison      1
Senior Windows Systems Administrator* Job in Madison      1
Contract Administrator Job in Cincinnati                  1
Name: count, Length: 18759, dtype: int64

In [45]:
data.describe()

,date_added,job_description,job_title,job_type,location,organization,salary,sector
count,122,22000,22000,20372,22000,15133,3446,16806
unique,78,18744,18759,39,8423,738,1737,163
top,9/22/2016,12N Horizontal Construction Engineers Job Desc...,Monster,Full Time,"Dallas, TX",Healthcare Services,"40,000.00 - 100,000.00 $ /year",Experienced (Non-Manager)
freq,6,104,318,6757,646,1919,50,4594

In [46]:
data['job_type'].value_counts()

job_type
Full Time                                        6757
Full Time Employee                               6617
Full Time, Employee                              3360
Full Time Temporary/Contract/Project             1062
Full Time, Temporary/Contract/Project             533
Full Time , Employee                              406
Part Time Employee                                382
Part Time                                         329
Part Time, Employee                               196
Temporary/Contract/Project                        193
Employee                                          147
Full Time / Employee                              121
Full Time , Temporary/Contract/Project             56
Part Time, Temporary/Contract/Project              34
Per Diem, Employee                                 29
Per Diem                                           22
Job Type Full Time Employee                        19
Part Time Seasonal                                 17
Part Time/ Temporary/Contract/Project              16
Full Time                                          14
Full Time/ Employee                                13
Per Diem Employee                                  12
Part Time Temporary/Contract/Project                6
Full Time Intern                                    5
Per Diem, Temporary/Contract/Project                4
Part Time , Employee                                4
Part Time Intern                                    2
Job Type Full Time Temporary/Contract/Project       2
Part Time / Employee                                2
Job Type Full Time                                  2
Job Type Part Time Employee                         2
Full Time / > Employee                              1
Part Time                                           1
Full Time  Employee                                 1
Full Time / Temporary/Contract/Project              1
Part Time, Intern                                   1
Part Time , Temporary/Contract/Project              1
Exempt                                              1
Job Type Employee                                   1
Name: count, dtype: int64

In [49]:
data['job_type'] = data['job_type'].str.replace('Employee', '', regex=False)

In [50]:
data['job_type'].value_counts()

job_type
Full Time                                        6757
Full Time                                        6617
Full Time,                                       3360
Full Time Temporary/Contract/Project             1062
Full Time, Temporary/Contract/Project             533
Full Time ,                                       406
Part Time                                         382
Part Time                                         329
Part Time,                                        196
Temporary/Contract/Project                        193
                                                  147
Full Time /                                       121
Full Time , Temporary/Contract/Project             56
Part Time, Temporary/Contract/Project              34
Per Diem,                                          29
Per Diem                                           22
Job Type Full Time                                 19
Part Time Seasonal                                 17
Part Time/ Temporary/Contract/Project              16
Full Time                                          14
Full Time/                                         13
Per Diem                                           12
Part Time Temporary/Contract/Project                6
Full Time Intern                                    5
Per Diem, Temporary/Contract/Project                4
Part Time ,                                         4
Part Time Intern                                    2
Job Type Full Time Temporary/Contract/Project       2
Part Time /                                         2
Job Type Full Time                                  2
Job Type Part Time                                  2
Full Time / >                                       1
Part Time                                           1
Full Time                                           1
Full Time / Temporary/Contract/Project              1
Part Time, Intern                                   1
Part Time , Temporary/Contract/Project              1
Exempt                                              1
Job Type                                            1
Name: count, dtype: int64